
@using Dit.Umb.ToolBox.Models.Enum
@using Dit.Umb.ToolBox.Models.PoCo
@using Dit.Umb.ToolBox.Services
@model Dit.Umb.ToolBox.Models.PageModels.ArticlePage


@if (!string.IsNullOrEmpty(Model.PageTitle))
{
    <h2>@Model.PageTitle.ToUpper()</h2>
}
@if (Model.EmotionImages != null && Model.EmotionImages.Any())
{
    if (Model.EmotionImages.Count() < 2)
    {
        var image = Model.EmotionImages.FirstOrDefault();

        if (image != null)
        {
            @image.RenderWcPictureTag()
        }
    }
    else
    {
        var configService = (IConfigurationService) DependencyResolver.Current.GetService(typeof(IConfigurationService));
        @Html.Partial("~/Views/Partials/Slider.cshtml", new EmptySliderComponent()
        {
            Slides = Model.EmotionImages,
            GalleryType = EGalleryType.FullWidth
        })
        ;
    }
}
@if (!Model.HideAbstract && !string.IsNullOrEmpty(Model.Abstract))
{
    <p>@Model.Abstract</p>
}
@if (!string.IsNullOrEmpty(Model.MainContent))
{
    <div>
        @Html.Raw(Model.MainContent)
    </div>
}
