@using System.Web.Mvc.Html
@using Dit.Umb.Toolbox.Common.ContentExtensions
@using Dit.Umb.ToolBox.Common.Extensions
@model Dit.Umb.MKulturProzent.Classics.Models.Poco.ArtistListModel



@if (Model.Artists != null && Model.Artists.Any())
{
    foreach (var artist in Model.Artists)
    {
        <h2>@(!string.IsNullOrEmpty(artist.InterpreterName) ? artist.InterpreterName : string.Empty)</h2>
        <p>@(!string.IsNullOrEmpty(artist.Role) ? artist.Role : string.Empty)</p>
        <p>@(!string.IsNullOrEmpty(artist.ShortDescription) ? artist.ShortDescription : string.Empty)</p>
        if (artist.Images != null && artist.Images.Any())
        {
            if (artist.Images.Count() < 2)
            {
                @artist.Images.First().RenderWcPictureTag()
            }
            else
            {
                @Html.Partial("~/Views/Partials/Slider.cshtml", artist.Images.ToList()) 
            }
     
        }
    }
}


