@using Umbraco.Core.Composing
@model Dit.Umb.Mutobo.Modules.BlogModule


@if (Model.BlogEntries != null && Model.BlogEntries.Any())
{

    <o-highlight-list namespace="blog-">
        @foreach (var highlight in Model.BlogEntries)
        {
            <m-highlight>
                <style>
                    :host {
                        background-color: rgba(242, 242, 222, 0.5);
                        border-top: 0;
                        border-bottom: 0;
                        border-radius: 1rem;
                        padding: 0.5rem !important;
                        margin: 0.5rem 0 0.5rem 0 !important;
                        width: 100%;
                        color: #dfebd1;
                    }

                    :host(:hover) {
                        background-color: rgba(242, 242, 222, 0.9);
                    }

                        :host p {
                            font-family: var(--font-family);
                        }

                    :host div.container {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: column;
                        
                    }

              
                        :host div.container div {
                            margin-left: 2rem;
                        }

                    :host div.container > a {
                        color: black !important;
                    }

                        :host a.blog-link,
                        :host a.blog-link:link,
                        :host a.blog-link:active,
                        :host a.blog-link:visited {
                            color: var(--color);
                        }

                        :host a.blog-link:hover {
                            color: var(--color-hover);
                        }
                </style>
                <a href="@highlight.Content.Url()" class="blog-link">
             
                    <div class="container">
         
             
                          
                            
                          
                        <h3><small>@highlight.Content.CreateDate.ToShortDateString()</small>@highlight.PageTitle</h3>
                            @if (highlight.EmotionImages != null && highlight.EmotionImages.Any())
                            {
                                var image = highlight.EmotionImages.FirstOrDefault();

                                <o-intersection-scroll-effect  css-property="filter" effect="grayscale" max-value="100%" transition="0.3s ease" offset="50">
                                    @(image?.RenderWcPictureTag(height: "225px", width:"400px", useSources:true))
                                </o-intersection-scroll-effect>
                          
                        


                            }
                            @if (!highlight.HideAbstract)
                            {
                                <p style="margin-top: 1em; font-family: var(--font-family); padding: 1em;">@highlight.Abstract</p>
                            }
                  

                    </div>





                </a>
            </m-highlight>
        }
    </o-highlight-list>
}


