@using Dit.Umb.ToolBox.Common.Extensions
@model IEnumerable<Dit.Umb.MKulturProzent.Classics.Models.Pages.ClubConcertPage>

<o-highlight-list  namespace="highlight-list-">
    @foreach (var highlight in Model)
    {
        <m-highlight>
            @if (!string.IsNullOrEmpty(highlight.City?.Name))
            {
                <h2>@highlight.City.Name</h2>
            }
            @if (highlight.Date != DateTime.MinValue)
            {
                <p class="date">@Html.Raw($"{highlight.Date.ToClassicsDateString()} <br /> {highlight.City.Location}")</p>
            }
            @if (!highlight.HideAbstract && !string.IsNullOrEmpty(highlight.Abstract))
            {
                <p>@highlight.Abstract</p>
            }
            @if (!string.IsNullOrEmpty(highlight.MainContent))
            {
                <p>@Html.Raw(highlight.MainContent)</p>
            }
            @if (!string.IsNullOrEmpty(highlight.Program?.Url) || !string.IsNullOrEmpty(highlight.Tickets?.Url))
            {
                <ul>
                    @if (!string.IsNullOrEmpty(highlight.Program?.Url))
                    {
                        <li>
                            <a href="@highlight.Program.Url">@highlight.Program.Name</a>
                        </li>
                    }
                    @if (highlight.Tickets != null)
                    {
                        <li>
                            <a href="@highlight.Tickets.Url" target="@highlight.Tickets.Target">@highlight.Tickets.Name</a>
                        </li>
                    }
                </ul>
            }
            @if (highlight.Artists != null && highlight.Artists.Any())
            {
                <br/>
                foreach (var artist in highlight.Artists)
                {
                    <div>
                        <p>
                            @($"{artist.InterpreterName}, {artist.Role}")
                        </p>

                        @if (!string.IsNullOrEmpty(artist.ShortDescription))
                        {
                            <p>
                                @artist.ShortDescription
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(artist.Description))
                        {
                            <p>
                                @Html.Raw(artist.Description)
                            </p>
                        }
                    </div>
                    <br/>
                }

            }
            @if (highlight.EmotionImages != null && highlight.EmotionImages.Any())
            {
                var image = highlight.EmotionImages.FirstOrDefault();
                <o-intersection-scroll-effect media="mobile" css-property="filter" effect="grayscale" max-value="100%" transition="0.3s ease" offset="50">
                    @image.RenderWcPictureTag()
                </o-intersection-scroll-effect>
            }
            @if (!string.IsNullOrEmpty(highlight.Intro))
            {
                <p>
                    @Html.Raw(highlight.Intro)
                </p>
            }
</m-highlight>
    }
</o-highlight-list>