@using Dit.Umb.MKulturProzent.Classics.Common.Extensions
@using Dit.Umb.ToolBox.Models.Constants
@using Dit.Umb.ToolBox.Models.Enum
@using Umbraco.Core.Composing
@using Current = Umbraco.Web.Composing.Current
@model Dit.Umb.MKulturProzent.Classics.Models.Configuration.ClubConcertHeaderConfiguration
<o-header namespace="header-">
    @if (Model.Logo != null)
    {
        <a-logo src="@Model.Logo.DefaultSource.Src" href="@(string.IsNullOrEmpty(Model.LogoUrl.Url) ? "/" : Model.LogoUrl.Url)" namespace="header-logo-"></a-logo>
    }

    @if (!string.IsNullOrEmpty(Model.PageTitle))
    {
        <a-title namespace="header-title-">@Model.PageTitle</a-title>
    }

    <o-highlight-list namespace="highlight-list-">
        <m-highlight>
            @if (!string.IsNullOrEmpty(Model.IntroText))
            {
                if (Model.StageImage != null)
                {
                    <o-intersection-scroll-effect media="mobile" css-property="filter" effect="grayscale" max-value="100%" transition="0.3s ease" offset="50">
                        @Model.StageImage.RenderWcPictureTag()
                    </o-intersection-scroll-effect>
                }
                <p>
                    @Html.Raw(Model.IntroText)
                </p>
            }
        </m-highlight>
    </o-highlight-list>
</o-header>
