@using System.Linq
@using Dit.Umb.Mutobo.Constants
@model Dit.Umb.Mutobo.Configuration.FooterConfiguration
<o-footer namespace="footer-">
    @{
        var index = 0;
    }
    @if (Model.PictureLinks != null && Model.PictureLinks.Any())
    {
        <div class="logo-container">
            @foreach (var picLink in Model.PictureLinks)
            {



                <a-logo namespace="footer-logo-" src="@picLink.Image.DefaultSource.Src" href="@(picLink.LogoLink?.Url ?? picLink.Link.Url)" target="@(picLink.LogoLink?.Target ?? picLink.Link.Target)">

                        <p>
                            @picLink.Text&nbsp;
                            <br />
                            <strong>
                                <a href="@picLink.Link.Url" target="@picLink.Link.Target">@picLink.Link.Name</a>
                            </strong>
                        </p>
                </a-logo>
                index++;

            }
        </div>


    }




    <div class="footer-links">


        @if (Model.FooterLinks != null && Model.FooterLinks.Any())
        {
            <ul>
                @foreach (var link in Model.FooterLinks)
                {
                    <li >
                        <a href="@link.Url" style="font-size: 0.5em" target="@link.Target">
                            @link.Name
                        </a>
                    </li>
                }
                <li><br /></li>

                @if (Model.HasValue(DocumentTypes.FooterConfiguration.Fields.CopyRight))
                {
                    <li>
                        <span style="font-size: 1.3em">
                            @Html.Raw(Model.Copyright)
                        </span>
                        <span style="font-size: 0.5em">
                            <a href="https://schenk-smart-solutions.ch/" target="_blank">
                                Designed & Developed by Schenk-Smart-Solutions
                            </a>
                      
                        </span>
                    </li>

                }

            </ul>
        }
    </div>


    

</o-footer>
