@model Dit.Umb.Mutobo.Interfaces.IHeaderConfiguration
<o-header menu-icon="true" namespace="header-">
    

    @if (Model.NavigationItems != null && Model.NavigationItems.Any())
    {
        <m-navigation namespace="navigation-" hit-area="false">

            <ul>
                <li >
                    <a style="color: #dfebd1" href="/">
                        Home
                    </a>
                </li>

                @foreach (var navItem in Model.NavigationItems)
                {
                    <li>
                        <a href="@navItem.Url" style="color: #dfebd1" target="@(navItem.NewWindow ? "_blank" : string.Empty)">@navItem.Title</a>
                        @if (navItem.Children.Any())
                        {
                            <ul>
                                @foreach (var childNavItem in navItem.Children)
                                {
                                    <li><a href="@childNavItem.Url" class="nav-link"   target="@(childNavItem.NewWindow ? "_blank" : string.Empty)">@childNavItem.Title</a></li>
                                }
                            </ul>
                        }
                    </li>
                }

            </ul>
        </m-navigation>
    }
</o-header>