
@using Umbraco.Web.Composing
@model Dit.Umb.Mutobo.PoCo.SearchResultModel

@if (!string.IsNullOrEmpty(Model.Term))
{
    <h3>@Current.UmbracoHelper.GetDictionaryValue("SearchResultsPageTitle")</h3>
    if (Model.Results.Any())
    {

<p>@string.Format("TRANSLATE", Model.Term, Model.Results.Count())</p>
    
        foreach (var searchResults in Model.Results)
        {
            <div>
                <h3>@searchResults.Title</h3>
                <p>@Html.Raw(searchResults.Abstract)</p>
                @*Uncomment this to reenable PDF-Results *@
                @*@if (searchResults.Documents != null && searchResults.Documents.Any())
                {

                    <p>
                        @(string.Format(Current.UmbracoHelper.GetDictionaryValue(DictionaryKeys.SearchPage.PdfResultText), Model.Term))
                        <ul>
                            @foreach (var doc in searchResults.Documents)
                            {
                                <li><a href="@doc.Url" target="">@doc.Name</a></li>

                            }
                        </ul>
                    </p>
                }*@
                <a href="@searchResults.Url">@searchResults.UrlTitle</a>
            </div>
        }
    }
    else
    {
        <p>@Current.UmbracoHelper.GetDictionaryValue("SearchResultsPageNoResults") «@Model.Term»</p>
    }
}
