 @inherits Umbraco.Web.Mvc.UmbracoViewPage<Dit.Umb.Mutobo.PageModels.BasePage>
@using System.Globalization
@using ClientDependency.Core.Mvc
@using Dit.Umb.Mutobo.Configuration
@using Dit.Umb.Mutobo.Interfaces
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;

}
 <!DOCTYPE html>
@*TODO: set the language attribute dynamically *@
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    @*<link href="/web-components-cms-template/src/favicon.ico" rel="short" />*@

    @{
        Html.RequiresCss("~/web-components-cms-template/src/css/variablesWeb4MIndustry.css");
        Html.RequiresCss($"~/web-components-cms-template/src/css/misc.css");
        Html.RequiresCss($"~/web-components-cms-template/src/css/fonts.css");
        Html.RequiresJs($"~/web-components-cms-template/wc-config.js?baseUrl=/web-components-cms-template/src/es/components/");
    }

    @Html.RenderCssHere()
    <title>@Model.PageTitle</title>
    @Html.Action("Index", "Seo")
    @if (Model.Theme != null)
    {
        @Html.Action("Index", "CssVariables", new { Theme = Model.Theme as ITheme })
    }
    
<style>
        @@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Reggae+One&display=swap');

    html {
        --color-hover: #02bd35;
        --color-secondary: black;
        --color: #2b3025;
        --background-color: rgba(223, 235, 209, 0.5);
        --font-family: 'Reggae One', cursive;
        --font-family-secondary: 'Nanum Gothic', sans-serif;
        --font-size: 1.3rem;
        --footer-color: #dfebd1;
        --footer-background-color: rgba(62, 79, 42, 0.8);
        --header-background-color: rgba(62, 79, 42, 0.8);
        --footer-content-width: 100vw;
        --footer-content-width-mobile: 100vw;
        --footer-padding: 2.5em;
        --footer-padding-mobile: 3em;
        --header-height: 15vw;
        --header-color: #dfebd1;
        --navigation-color: #dfebd1;
        --navigation-color-hover: #02bd35;
    }

        body {
            background: url(/assets/img/terminalia-catappa-2137221_1920.png) repeat-y;
            background-size: cover;
        }

        .bar1, .bar2, .bar3 {
            background-color: #dfebd1 !important;
        }
    @@media only screen and (min-width: 1000px) {
        html {
            --navigation-background-color: transparent;
        }
    }
</style>

</head>
<body>
    <p-general>
        @Html.Partial("~/Views/Partials/Header.cshtml", Model.HeaderConfiguration)
        @RenderBody()
        @Html.Partial("~/Views/Partials/Footer.cshtml", Model.FooterConfiguration as Dit.Umb.Mutobo.Configuration.FooterConfiguration)
    </p-general>
@Html.Action("Index", "WcRender")
@Html.RenderJsHere()
</body>
</html>