@using ClientDependency.Core.Mvc
@using Umbraco.Web.Composing
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Dit.Umb.Mutobo.PageModels.SearchResultModel>

@{
    Layout = "WCBasePage.cshtml";

}

<o-body>
    @Html.Action("Index", "SearchForm")
    
    @if (!string.IsNullOrEmpty(Model.Term))
    {
        <h3>@Umbraco.GetDictionaryValue("SearchResultsPageTitle")</h3>
        if (Model.Results.Any())
        {
            //TODO: Texte in DictionaryKeys
            <p>@string.Format("TRANSLATE", Model.Term, Model.Results.Count())</p>

            foreach (var searchResults in Model.Results)
            {
                <div>
                    <h4>@searchResults.Title</h4>
                    <p>@Html.Raw(searchResults.Abstract)</p>
                    @*Uncomment this to reenable PDF-Results *@
                    @*@if (searchResults.Documents != null && searchResults.Documents.Any())
                    {

                        <p>
                            @(string.Format(Current.UmbracoHelper.GetDictionaryValue(DictionaryKeys.SearchPage.PdfResultText), Model.Term)) 
                            <ul>
                                @foreach (var doc in searchResults.Documents)
                                {
                                    <li><a href="@doc.Url" target="">@doc.Name</a></li>

                                }
                            </ul>
                        </p>
                    }*@
                        <a href="@searchResults.Url">@searchResults.UrlTitle</a>
                </div>
            }
        }
        else
        {
            <p>@Umbraco.GetDictionaryValue("SearchResultsPageNoResults") "@Model.Term"</p>
        }
    }
</o-body>