
@using PictureModule = Dit.Umb.Mutobo.Modules.PictureModule
@using VideoComponent = Dit.Umb.Mutobo.Modules.VideoComponent

@model Dit.Umb.Mutobo.Modules.SliderMitTabs

@if (Model.SpacerBeforeModule)
{
    <div class="spacer"></div>
}

<o-wrapper no-space @(Model.Anchor != string.Empty ? $"id={Model.Anchor}" : "")>
    <h2>@Model.Title</h2>
    @if (Model.Info != null)
    {
        @Html.Raw(Model.Info)
    }
</o-wrapper>
<m-slider>
    @foreach (var Tab in Model.Tabs)
    {
        string NavImg = null, NavColor = null;
        if (Model.BackgroundFix)
        {
            if (Model.BackgroundImg != null)
            {
                NavImg = Model.BackgroundImg?.DefaultSource.Src;
            }
            else
            {
                NavColor = Model.BackgroundColor;
            }
        }
        else
        {
            if (Tab.BackgroundImg != null)
            {
                NavImg = Tab.BackgroundImg?.DefaultSource.Src;
            }
            else
            {
                NavColor = Tab.BackgroundColor;
            }
        }

        <a-slider-tab @(NavImg != null ? 
            $"nav-img=\"{NavImg}\"" : $"nav-color=\"{NavColor}\"")
                      data-index="@Tab.DataId">
            <div class="nav">
                @if (Tab.Media is PictureModule img)
                {
                    @(img.Image?.RenderWcPictureTag(useSources:true))
                }
                else if (Tab.Media is VideoComponent vid)
                {
                    @vid.RenderModule(this.Html)
                }
            </div>
            <div class="content">
                <h3>@Tab.Title</h3>
                @if (Tab.Modules != null && Tab.Modules.Any())
                {
                    foreach (var module in Tab.Modules)
                    {
                        @module.RenderModule(this.Html)
                    }
                }
            </div>
        </a-slider-tab>

    }
    <div class="tab-slider">
        @foreach (var Tab in Model.Tabs)
        {
            <span class="milestone" data-index="@Tab.DataId">@Tab.Title</span>
        }
    </div>
</m-slider>

@if (Model.SpacerBeforeModule)
{
    <div class="spacer"></div>
}